@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

* { box-sizing: border-box; }

html,
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #303030;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	line-height: 110%;
	text-transform: uppercase;
	margin: 0 0 1em 0;
}

h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

.container {
	display: flex;
	height: 100%;
	min-height: 100vh;
	position: relative;
}

.card-container {
	background-color: #fff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.253);
	margin: 2em 0;
}

.card-title {
	border-bottom: 1px solid #ccc;
	display: block;
	font-size: 20px;
	font-weight: 900;
	line-height: 22px;
	margin: 0;
	padding: 1em;
	text-transform: uppercase;
}
